bin/
download/
*/.DS_Store
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.gradle/
build/
run/
out/
*.iml
*.ipr
*.iws
.settings/
.metadata/
.classpath
CoFHCore-2.0.0.2.jar
.project/
bin/
client/
Server/